@import 'nib'
@import 'jeet'
#main
  width: 50px

.tab
  center(960px)
  .tab1
    margin-top: 5%
    #title
      margin-bottom: 10%
      font-size: 50px
      text-align: center
    paper-input
      center(640px)
    .button-set
      margin-top: 10%
      text-align:center
      center(400px)
      paper-button
        background: #4285f4
        color: #fff
        width: 145px
        height: 39px
