doctype html
html(ng-app='fbAttack')
head
    meta(charset='utf-8')
    title gulpWepApp
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
       Place favicon.ico and apple-touch-icon.png in the root directory 
    //
       build:css styles/vendor.css 
    //
       bower:css
    //
       endbower 
    //
       endbuild 
    //
       build:css styles/main.css 
    link(rel='stylesheet', href='styles/main.css')
    //
       endbuild 
    //
       build:js scripts/vendor/modernizr.js 
    script(src='bower_components/modernizr/modernizr.js')
    // setup angualrjs
    script(src='./bower_components/angular/angular.min.js')
    // setup polymer
    script(src='./bower_components/platform/platform.js')
    link(rel='import', href='./bower_components/paper-elements/paper-elements.html')
    link(rel='import', href='./bower_components/core-elements/core-elements.html')
    link(rel='import', href='./bower_components/core-elements/core-elements.html')
    //
       endbuild 
  body
    .div(ng-controller='attackController as attack')
      paper-tabs
        paper-tab(ng-click='attack.selectTab(1)') Introduction
        paper-tab(ng-click='attack.selectTab(2)') Do it!!!
      .tab
        .tab1(ng-show='attack.isSelected(1)')
          #title Air raid
          paper-input(label='Facebook account' floatingLabel='true')
          paper-input(label='Message' floatingLabel='true' multiline maxRows='5')
          .button-set
            paper-button(label='Attack')
            .fb-login-button(data-show-faces='false' data-auto-logout-link='true' data-size='xlarge')
    //
       bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    //
       endbower 
    //
       endbuild 
    //
       build:js scripts/main.js 
    script(src='scripts/main.js')
    script(src='./scripts/loadFBsdk.js')
    //
       endbuild 

